@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr ;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header "
      "sidebar main"
      "footer footer";
      gap: 0.5rem;
}

.el{
    background: #57A773;
    display: grid;
    color: #393939;
    place-content: center;
    min-height: 50px;
}

.header{
    grid-area: header;
    background-color: #E8C547;
}
.sidebar{
    grid-area: sidebar;
    background-color: #00A5E0;
}
.footer{
    grid-area: footer;
    background-color: #FF0035;
    color: #fff;
}
.container{
    background-color: #3B1F2B;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    gap: 1rem;
    padding: 1rem;
}

.box{
    background-color: hsl(32, 100%, 67%);
    padding: 1rem;
    font-size: 1.2rem;
}

.box:first-child{
    background-color: #CDE7B0;
    grid-column: span 2;
    border-radius: 10px;
}
.box:nth-child(2){
    background-color: #EDADC7;
    grid-column: span 1;
    border-radius: 10px;
}
.box:nth-child(3){
    background-color: #C5DECD;
    grid-column: span 2;
    border-radius: 10px;
}
.box:nth-child(4){
    background-color: #92DCE5;
    grid-column: span 1;
    border-radius: 10px;
}
.box:nth-child(5){
    background-color: #BCABAE;
    grid-column: span 2;
    border-radius: 10px;
}
.box:nth-child(6){
    background-color: #F283B6;
    grid-column: span 1;
    border-radius: 10px;
}