/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


   .start{
    padding-inline-start: 2rem;
    min-height:50vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    /* border: 1px solid black; */
  }   

  .profile-pic{
    border: 2px solid black;
    min-width: 50vh;
  }

  .about{
    display: flex;
  }

  .footer{
    color: pink;
  }